{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center display-2" style="color:red">{{title}}</h1>
    <h2 class="display-3"> Tu nombre es {{ name|title }} </h2>
</div>
{% endblock %}